<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708743510073-cabpeaull8tl6sc121c77q9ovuh9od31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708743510073-cabpeaull8tl6sc121c77q9ovuh9od31</string>
	<key>API_KEY</key>
	<string>AIzaSyAZi70djhhYDcLUuKz9rDETlA79m04XvtY</string>
	<key>GCM_SENDER_ID</key>
	<string>708743510073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NeilPhung.HTKT</string>
	<key>PROJECT_ID</key>
	<string>htkt-ad1b6</string>
	<key>STORAGE_BUCKET</key>
	<string>htkt-ad1b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708743510073:ios:6bfc0836508c4dbc</string>
	<key>DATABASE_URL</key>
	<string>https://htkt-ad1b6.firebaseio.com</string>
</dict>
</plist>